{% load staticfiles %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> -->
  <!--<link href="{% static 'css/style.css' %}" rel="stylesheet">-->
  <!--<link rel="stylesheet" type="text/css" href="style.css"> -->
  <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
              $( function() {
                  $("#datetimepicker1").datetimepicker();
              });
</script>
  <script type="text/javascript">
        $(function () {
            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true
            });
        });
    </script>
</head>
<body >
{% if user.is_authenticated %}
<div id="wrapper">
  <!-- Navigation-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home:emphome' %}">Omaha Mentor for Kids</a>
            </div>

    <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Hello {{user.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'home:logout_user' %}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>

    <!--SideBar Start-->

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">

        <li>
            <a href="{% url 'home:empmarkattendance' %}"><i class="fa fa-fw fa-check-square-o"></i> Mark Attendance</a>
        </li>
        <li>
          <a  href="{% url 'home:empstudentsreports' %}"><i class="fa fa-fw fa-table"></i>Students Reports</a>
        </li>
        <li>
          <a  href="{% url 'home:empcreateappointments' %}"><i class="fa fa-fw fa-calendar"></i>Create Appointments</a>
        </li>

        <li>
          <a   href="{% url 'home:emphome' %}"><i class="fa fa-fw fa-home"></i>Home</a>
        </li>
        <li>
          <a href="{% url 'home:emptask' %}"><i class="fa fa-fw fa-tasks"></i>Task</a>
        </li>
        <li>
          <a href="{% url 'home:mentorlist' %}"><i class="fa fa-fw fa-tasks"></i>Mentor List</a>
        </li>

      </ul>
    </div>
  </nav>
  <div id="page-wrapper">

    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

  </div>
{% endif %}
</div>
</body>

</html>
