
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="style.css"> -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
	
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

</head>
<body>
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
 <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">OMK</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Mentor</a>
                <a class="nav-link" href="#">Employee</a>
                <a class="nav-link" href="{% url 'home:about' %}">About Us</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </header>
		  </div>

      </div>

    </div>
<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
				<li><div id="datepicker"></div></li>
                <li class="active"><a href="#">Mark Attendance</a></li>
                <li ><a href="#">Students Reports </a></li>
                <li ><a href="#">Create Appointments</a></li>
                <li ><a href="#">Home</a></li>
                
            </ul>
        </div>
    </div>
</nav>
</body>