{% load staticfiles %}
<div class="row"  align="center">
    <div id="rcorners1" class="col-md-3">
        <!-- Text input-->
        <div class="form-group">
              <label class="col-md-6 control-label" for="fn">Email Id</label>
              <div class="col-md-6">
              <input id="fn" name="fn" type="text" placeholder="Email id" class="form-control input-md" required="">
          </div>
        </div>
        <div class="form-group">
              <label class="col-md-6 control-label" for="fn">Password</label>
              <div class="col-md-6">
              <input id="fn" name="fn" type="text" placeholder="Password" class="form-control input-md" required="">
          </div>
        </div>
        <br/>
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-6 control-label" for="submit"></label>
          <div class="col-md-6">
            <button id="submit" name="submit" class="btn btn-primary">SIGN IN</button>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-5 control-label" for="submit"></label>
          <div class="col-md-7">
            <a href="">Reset Password</a>
          </div>
        </div>
    </div>
    <div class="col-md-3"></div>
     <div id="rcorners2" class="col-md-6">
        <!-- Text input-->
        <div class="form-group">
              <label class="col-md-6 control-label" for="fn">Name</label>
              <div class="col-md-6">
              <input id="fn" name="fn" type="text" placeholder="Name" class="form-control input-md" required="">
          </div>
        </div>
        <div class="form-group">
              <label class="col-md-6 control-label" for="fn">E-mail</label>
              <div class="col-md-6">
              <input id="fn" name="fn" type="text" placeholder="E-mail" class="form-control input-md" required="">
          </div>
        </div>
         <div class="form-group">
              <label class="col-md-6 control-label" for="fn">Password</label>
              <div class="col-md-6">
              <input id="fn" name="fn" type="text" placeholder="Password" class="form-control input-md" required="">
          </div>
        </div>
         <div class="form-group">
              <label class="col-md-6 control-label" for="fn">Confirm Password</label>
              <div class="col-md-6">
              <input id="fn" name="fn" type="text" placeholder="Confirm Password" class="form-control input-md" required="">
          </div>
        </div>
         <div class="form-group">
              <label class="col-md-6 control-label" for="fn">Designation</label>
              <div class="col-md-6">
              <input id="fn" name="fn" type="text" placeholder="Designation" class="form-control input-md" required="">
          </div>
        </div>

            <br/>
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-6 control-label" for="submit"></label>
          <div class="col-md-6">
            <button id="submit" name="submit" class="btn btn-primary">SIGN IN</button>
          </div>
        </div>
    </div>
</div>
