automium==0.2.6
automium-web==0.1.1
click==6.7
dj-database-url==0.4.2
Django==1.11.2
django-filter==1.1.0
django-mathfilters==0.4.0
djangorestframework==3.7.1
Flask==0.12.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
legacy==0.1.6
Markdown==2.6.9
MarkupSafe==1.0
psycopg2==2.7.1
pytz==2017.2
simplejson==3.11.1
virtualenv==15.1.0
Werkzeug==0.12.2
whitenoise==3.3.0
yahoo-finance==1.4.0
psycopg2==2.7.1
